## env.py environment variables

# general bot config
env_token = ''                          # The discord bot token
env_bot_name = ''                       # The name the bot would use to refer to itself

# openai stuff
env_openai_assistant_id = ''
env_openai_apikey = ''
env_openai_organization_id = ''
env_openai_project_id = ''